* {
    box-sizing: border-box;
    font-family: "Playfair Display";
}

.chatSpace {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-areas: "header header" "chat chat" "input input";
}

.message-input-box {
    grid-area: input;
    display: grid;
    grid-template-areas: "message-input-field button-send";
    grid-template-columns: 1.8fr .2fr;
    min-height: 4em;
    padding: 1em;
}

header {
    min-width: 100%;
    min-height: 3em;
    grid-area: header;
    display: grid;
    grid-template-areas: "name participants messages lastMessage";
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    background-color: rgba(15, 195, 209, 0.51);
    align-content: center;
    padding: 1em;
    border-radius: .5em;
    color: white;
}

.message-box {
    max-height: 500px;
    background-color: rgba(246, 205, 155, 0.41);
    grid-area: chat;
    overflow-y: scroll;
    border-radius: .5em;
}